<div class="panel panel-default">
    <div class="panel-body">

        Найти:
        <input data-ng-model="vm.myQuery"><br><br> Сортировать по:
        <select data-ng-model="vm.myOrderProperty">
            <option value="id">ID</option>
            <option value="weight">Весу</option>
            <option value="height">Росту</option>
        </select>

    </div>
</div>

<div class="list-group">
    <div class="list-group-item" data-ng-repeat="singlePokemon in vm.pokemons | filter:vm.myQuery | orderBy: vm.myOrderProperty">
        <h4 class="list-group-item-heading">
            <span class="badge">{{singlePokemon.id }}</span>
            <a ng-href="#!/pokemons/{{singlePokemon.id }}">{{singlePokemon.name | uppercase }}</a>
        </h4>
        <p class="list-group-item-text">
            Вес: {{singlePokemon.weight}}, рост: {{singlePokemon.height}}
        </p>
        <button ng-click="vm.addToCart(singlePokemon)">Add</button>
    </div>
</div>

<div class="panel panel-default" ng-show="vm.myQuery">
    <div class="panel-body">

        <p>
            Выведены покемоны, содержащие {{vm.myQuery}}
        </p>

    </div>
</div>