<div class="panel panel-default">
  <div class="panel-body">

    <div class="btn-group" role="group">
      <!--for object-->
      <!--<a class="btn btn-default" ng-repeat="(sref, title) in $ctrl.buttons" data-ui-sref={{sref}} data-ui-sref-active="btn-primary">{{title}}</a>-->
      <!--for array-->
      <a class="btn btn-default" ng-repeat="button in $ctrl.buttons" data-ui-sref={{button.sref}}
         data-ui-sref-active="btn-primary">{{button.title}}</a>
    </div>

  </div>
</div>